<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

    <title>DigiMedia - Creative SEO HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/animated.css" />
    <link rel="stylesheet" href="assets/css/owl.css" />
    <!--

TemplateMo 568 DigiMedia

https://templatemo.com/tm-568-digimedia

-->
  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Pre-header Starts -->
    <div class="pre-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-sm-8 col-7">
            <ul class="info">
              <li>
                <a href="#"><i class="fa fa-envelope"></i>smartcv@company.com</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-phone"></i> 01 23 45 67 89</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-sm-4 col-5">
            <ul class="social-media">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-behance"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-dribbble"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Pre-header End -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="index.html" class="logo">
                <img src="assets/images/logo-v3.png" alt="" />
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                <li class="scroll-to-section"><a href="#about">About</a></li>
                <li class="scroll-to-section"><a href="#services">Services</a></li>
                <li class="scroll-to-section"><a href="#contact">Contact</a></li>
                <li class="scroll-to-section">
                  <div class="border-first-button"><a href="login.html">Sign IN</a></div>
                </li>
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6 align-self-center">
                <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                  <div class="row">
                    <div class="col-lg-12">
                      <h6>SMARTCV</h6>
                      <h2>Votre Talent, Notre Technologie, Recrutons l’avenir ensemble.</h2>
                    </div>
                    <div class="col-lg-12">
                      <div class="border-first-button scroll-to-section">
                        <a href="/login.html">Sign In</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                  <img src="assets/images/resume.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ************************* ABOUT ************************* -->

    <div id="about" class="about section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <div class="about-left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                  <img src="assets/images/about-dec-v3.png" alt="" />
                </div>
              </div>
              <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="about-right-content">
                  <div class="section-heading">
                    <h6>About Us</h6>
                    <h4>Qui est <em> SMARTCV </em>?</h4>
                    <div class="line-dec"></div>
                  </div>
                  <p>
                    SmartCV Agency est bien plus qu'une agence de recrutement traditionnelle. Nous sommes une équipe d'experts dédiés à la recherche et à
                    l'identification des meilleurs talents pour votre entreprise. Grâce à notre approche innovante et à notre technologie de pointe, nous
                    transformons la façon dont les entreprises découvrent et sélectionnent leurs futurs collaborateurs.
                  </p>
                  <div class="row">
                    <div class="col-lg-4 col-sm-4">
                      <div class="skill-item first-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                        <div class="progress" data-percentage="90">
                          <span class="progress-left">
                            <span class="progress-bar"></span>
                          </span>
                          <span class="progress-right">
                            <span class="progress-bar"></span>
                          </span>
                          <div class="progress-value">
                            <div>
                              95%<br />
                              <span>Fiabilité</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                      <div class="skill-item second-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                        <div class="progress" data-percentage="80">
                          <span class="progress-left">
                            <span class="progress-bar"></span>
                          </span>
                          <span class="progress-right">
                            <span class="progress-bar"></span>
                          </span>
                          <div class="progress-value">
                            <div>
                              90%<br />
                              <span>Efficacité</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                      <div class="skill-item third-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                        <div class="progress" data-percentage="80">
                          <span class="progress-left">
                            <span class="progress-bar"></span>
                          </span>
                          <span class="progress-right">
                            <span class="progress-bar"></span>
                          </span>
                          <div class="progress-value">
                            <div>
                              80%<br />
                              <span>Rapidité</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ************************* SERVICES  ************************* -->

    <div id="services" class="services section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-heading wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
              <h4>Nos <em>Services</em></h4>
              <div class="line-dec"></div>
            </div>
            <div class="col-lg-12">
              <div class="naccs">
                <div class="grid">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="menu">
                        <div class="first-thumb active">
                          <div class="thumb">
                            <span class="icon"><img src="assets/images/service-icon-01.png" alt="" /></span>
                            Optimisation des Processus
                          </div>
                        </div>

                        <div>
                          <div class="thumb">
                            <span class="icon"><img src="assets/images/service-icon-03.png" alt="" /></span>
                            Analyse de CV
                          </div>
                        </div>

                        <div class="last-thumb">
                          <div class="thumb">
                            <span class="icon"><img src="assets/images/service-icon-02.png" alt="" /></span>
                            données protégées
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <ul class="nacc">
                        <li class="active">
                          <div>
                            <div class="thumb">
                              <div class="row">
                                <div class="col-lg-6 align-self-center">
                                  <div class="left-text">
                                    <h4>Optimisation des Processus</h4>
                                    <p>
                                      Nous repensons vos méthodes de recrutement pour les rendre plus efficaces et ciblées, garantissant ainsi des résultats de
                                      qualité supérieure.
                                    </p>
                                    <div class="ticks-list">
                                      <span><i class="fa fa-check"></i> Talents de Haut Niveau</span>
                                      <span><i class="fa fa-check"></i> Temps Minimisé </span>
                                      <span><i class="fa fa-check"></i> Rendement Optimal</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 align-self-center">
                                  <div class="right-image">
                                    <img src="assets/images/services-image.jpg" alt="" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>

                        <li>
                          <div>
                            <div class="thumb">
                              <div class="row">
                                <div class="col-lg-6 align-self-center">
                                  <div class="left-text">
                                    <h4>Analyse de CV</h4>
                                    <p>
                                      Nous examinons minutieusement chaque CV pour vous assurer que chaque candidat proposé possède les compétences et
                                      l'expérience nécessaires.
                                    </p>
                                    <div class="ticks-list">
                                      <span><i class="fa fa-check"></i> Rapidité</span>
                                      <span><i class="fa fa-check"></i> Facilité </span>
                                      <span><i class="fa fa-check"></i> rapport complet</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 align-self-center">
                                  <div class="right-image">
                                    <img src="assets/images/services-image-03.jpg" alt="" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>

                        <li>
                          <div>
                            <div class="thumb">
                              <div class="row">
                                <div class="col-lg-6 align-self-center">
                                  <div class="left-text">
                                    <h4>données Protegé</h4>
                                    <p>
                                      Chez SmartCV, la sécurité des données est notre priorité absolue. Nous comprenons l'importance des informations sensibles
                                      contenues dans les CV que nous traitons. C'est pourquoi nous mettons en œuvre des mesures de sécurité rigoureuses pour
                                      garantir la confidentialité et l'intégrité de ces données.
                                    </p>
                                    <div class="ticks-list">
                                      <span><i class="fa fa-check"></i> Confidentialité</span>
                                      <span><i class="fa fa-check"></i> Intégrité</span>
                                      <span><i class="fa fa-check"></i> Sécurité</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 align-self-center">
                                  <div class="right-image">
                                    <img src="assets/images/donne.webp" alt="" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- ************************* UPLOAD CV ************************* -->
    
    <!-- <div id="upload" class="our-upload section">
      <div class="container">
        <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
          <div class="row">
            <div class="upload-container">
              <div class="upload-panel">
                <div class="col-md-12 col-md-offset-4 upload">
                  <div class="col-md-12 col-md-offset-4 upload"> -->
                    <!-- Upload CV Form -->
                    <!-- <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                      <h4>Upload CV</h4>
                      <div class="line-dec"></div>
                    </div>

                    <form action="http://localhost:8000/upload_cv" method="post" enctype="multipart/form-data">
                      <div class="col-md-12 col-md-offset-4">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <div class="btn btn-default browse-button-cv">
                              <span class="browse-button-text"> <i class="fa fa-folder-open"></i> Browse</span>
                              <input type="file" accept=".pdf" name="attachment" multiple />
                            </div>
                            <button type="button" class="btn btn-default clear-button" style="display: none"><span class="fa fa-times"></span> Clear</button>
                          </span>
                          <input
                            type="text"
                            class="form-control filename"
                            disabled="disabled"
                            placeholder="Veuillez cliquer sur le bouton 'Browse' et sélectionner un fichier pdf."
                          />
                          <span class="input-group-btn">
                            <button class="btn btn-primary upload-button-cv" type="button">
                              <i class="fa fa-upload"></i>
                              Upload CV
                            </button>
                          </span>
                        </div>
                      </div>
                    </form>
                    <div id="file-list-container-cv">
                      <ul id="file-list-cv"></ul>-->
                      <!-- List for selected CV file names -->
                    <!-- </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Upload job Form -->
    <!-- <div id="upload" class="our-upload section">
      <div class="container">
        <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
          <div class="row">
            <div class="upload-container">
              <div class="upload-panel">
                <div class="col-md-12 col-md-offset-4 upload">
                  <div class="col-md-12 col-md-offset-4 upload">
                    <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                      <h4>Upload Job description</h4>
                      <div class="line-dec"></div>
                    </div>

                    <form action="http://localhost:8000/upload_job" method="post" enctype="multipart/form-data">
                      <div class="col-md-12 col-md-offset-4">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <div class="btn btn-default browse-button-job">
                              <span class="browse-button-text-job"> <i class="fa fa-folder-open"></i> Browse</span>
                              <input type="file" accept=".pdf, .docx, .txt" name="attachment_job" />
                            </div>
                            <button type="button" class="btn btn-default clear-button-job" style="display: none">
                              <span class="fa fa-times"></span> Clear
                            </button>
                          </span>
                          <input
                            type="text"
                            class="form-control filename"
                            disabled="disabled"
                            placeholder="Veuillez cliquer sur le bouton 'Browse' et sélectionner un fichier pdf."
                          />
                          <span class="input-group-btn">
                            <button class="btn btn-primary upload-button-job" type="button">
                              <i class="fa fa-upload"></i>
                              Upload job
                            </button>
                          </span>
                        </div>
                      </div>
                    </form>
                    <div id="file-list-container-job">
                      <ul id="file-list-job"></ul> -->
                      <!-- List for selected job file names -->
                    <!-- </div> -->
                    <!-- Success Modal -->
                    <!-- <div id="successModal" class="modal_success">
                      <div class="modal_success_content">
                        <span class="close">&times;</span>
                        <p id="modal-text">File uploaded successfully!</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  
    <div class="large-button-container">
      <div class="pourcentage-container"> -->
        <!-- <div class="row m-4">
          <div class="col-md-6 offset-md-3">
            <label for="sectionPercentage" class="form-label">Pourcentage de section</label>
            <div class="input-group">
              <input type="number" class="form-control col-auto" id="sectionPercentage" placeholder="Entrez le pourcentage" min="1" max="100" />
              <span class="input-group-text">%</span>
            </div>
          </div>
        </div> 
      </div>
      <button class="large-button">Valider et Voir Résultat</button>
    </div>-->


  <!-- show table result here -->
  <!-- <div id="result-spinner"></div>
  <div id="result-table"></div> -->
  

    <!-- ****************** CONTACT ************************************************************* -->
    <div id="contact" class="contact-us section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <div class="section-heading wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
              <h4>Prenez contact avec <em> nous </em></h4>
              <div class="line-dec"></div>
            </div>
          </div>
          <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
            <form id="contact" action="" method="post">
              <div class="row">
                <div class="col-lg-12">
                  <div class="contact-dec">
                    <img src="assets/images/contact-dec-v3.png" alt="" />
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="fill-form">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="info-post">
                          <div class="icon">
                            <img src="assets/images/phone-icon.png" alt="" />
                            <a href="#">01 23 45 67 89</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="info-post">
                          <div class="icon">
                            <img src="assets/images/email-icon.png" alt="" />
                            <a href="#">smartcv@company.com</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="info-post">
                          <div class="icon">
                            <img src="assets/images/location-icon.png" alt="" />
                            <a href="#">Paris France</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <fieldset>
                          <input type="name" name="name" id="name" placeholder="Nom" autocomplete="on" required />
                        </fieldset>
                        <fieldset>
                          <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Email" required="" />
                        </fieldset>
                        <fieldset>
                          <input type="subject" name="subject" id="subject" placeholder="Sujet" autocomplete="on" />
                        </fieldset>
                      </div>
                      <div class="col-lg-6">
                        <fieldset>
                          <textarea name="message" type="text" class="form-control" id="message" placeholder="Message" required=""></textarea>
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <button type="submit" id="form-submit" class="main-button">Envoyer</button>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- ********************************** FOOTER ************************************* -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright © 2023 SMARTCV Co., Ltd. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <!--  ******************* Scripts ***************************************** -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/animation.js"></script>
    <script src="assets/js/imagesloaded.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/upload.js"></script>
  </body>
</html>
